# Ignore compiled files and general binary junk
*.mod
*.smod
*.o
*.png
*.data
*.inp

# Ignore specific directories and their contents
**/photos/**
**/batch_runs/runs/**
**/star/

# Allow placeholder files to keep directory structure
!*.keep
